altgraph==0.17.4
asgiref==3.8.1
channels==4.2.0
channels_redis==4.2.1
Django==5.1.3
django-cors-headers==4.6.0
djangorestframework==3.15.2
ifaddr==0.2.0
mdns==1.0.0
msgpack==1.1.0
numpy==2.1.3
opencv-python-headless==4.10.0.84
packaging==24.2
pillow==11.0.0
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2024.10
redis==5.2.0
setuptools==75.6.0
sqlparse==0.5.2
waitress==3.0.2
whitenoise==6.8.2
zeroconf==0.136.2
